html {
  text-align: center;
  padding-top: 5px;
  background-color: #6E8387;
  font-family: 'ABeeZee', sans-serif;
}

a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: goldenrod
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  max-width: 150px;
  border-radius: 5px;
}

.followers-div {
  width: 15%;
  margin: auto;
}

.card {
  border: 1px solid black;
  margin: 9px;
  border-radius: 15px;
  box-shadow: 1px 1px 8px black
}